{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Calling</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/chat.css' %}">
    <script defer src="{% static 'assets/AgoraRTC_N-4.23.1.js' %}"></script>
    <script defer src="{% static 'scripts/main.js' %}"></script>
    <script defer src="{% static 'scripts/chat.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/microsoft-cognitiveservices-speech-sdk@1.20.0/distrib/browser/microsoft.cognitiveservices.speech.sdk.bundle.js"></script>


</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
