{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<main>
    <section id="room-name-wrapper">
        <p>Room Name: <span id="room-name"></span></p>
    </section>

    <section id="video-streams"></section>

    <section id="controls-wrapper">
        <div class="icon-wrapper">
            <img class="control-icon" id="mic-btn" src="{% static 'images/microphone.svg' %}" alt="Microphone" />
        </div>
        <div class="icon-wrapper">
            <img class="control-icon" id="camera-btn" src="{% static 'images/video.svg' %}" alt="Camera" />
        </div>
        <div class="icon-wrapper">
            <img class="control-icon" id="leave-btn" src="{% static 'images/leave.jpg' %}" alt="Leave" />
        </div>
        <div class="icon-wrapper">
            <img class="translate-icon" id="translate-btn" src="{% static 'images/translate.jpg' %}" />
        </div>
        <div class="icon-wrapper">
            <img class="control-icon" id="chat-btn" src="{% static 'images/chat.svg' %}" alt="Chat" />
        </div>
    </section>

    <div id="chat-container" class="fade-out">
        <div id="chat-header">
            <p>Live Chat</p>
            <button id="close-chat">&times;</button>
        </div>
        <div id="chat-messages"></div>
        <p id="typing-indicator">Someone is typing...</p>
        <div id="chat-input-container">
            <input type="text" id="chat-input" placeholder="Type a message..." />
            <button id="send-chat">Send</button>
        </div>
    </div>
</main>

{% endblock content %}
